.video {
  position: relative;
  z-index: 100;
  max-width: 80%;
  margin: 85vh auto 0;
}

.image1 {
  position: relative;
  max-width: 73%;
  margin: 5% 0 0 20%;
}

.image2 {
  position: relative;
  max-width: 63%;
  margin: 5% 0 0 14%;
}

.image3 {
  position: relative;
  max-width: 80%;
  margin: 10% 10%;
}
