@media (--tablet) {
  .root {
    display: flex;
    flex-wrap: wrap;
    perspective: 100vw;
    overflow: hidden;
    justify-content: space-around;

    &.left {
      justify-content: flex-start;
    }
  }
}
