.root {
  position: fixed;
  top: 1%;
  left: 3%;
  z-index: calc(var(--z-index-base) + 1);
  max-width: 40px;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  will-change: top, left, transform;

  & img {
    max-width: 100%;
  }

  @media (--tablet) {
    max-width: 80px;
  }

  @media (--desktop) {
    left: 1%;
  }
}

.pinned {
  top: 50%;
  left: 50%;
  max-width: 120px;
  transform: translate3d(-50%, -50%, 0);

  @media (--desktop) {
    max-width: 160px;
  }
}
