.root {
  display: flex;
  padding: 8px;
  color: var(--gray);
  font-size: 12px;

  & a {
    opacity: 0.8;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }
  }
}
